# bytecode cache folder
__pycache__

# Linters added by my IDE
.eslintrc.json
.htmlhintrc
.prettierrc.json
.stylelintrc.json

# NPM modules
node_modules
package*.json

# VIM open files
*.*.swp

# output tests
output.txt
